*{
    margin:0;
    padding:0;
    font-family: 'Work Sans', sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: url('images/banner/banner3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: end;

}
.text{ 
    width: 520px;
    text-align: right;
    margin-right: 10%;
}

.text h1{
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    line-height: 1.1em;
}
.text p{
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 1.5em;
}
.text .btn{
    margin-top: 20px;
    color: #005FAC;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 10px 22px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    transition: 0.5s;
}
.text .btn:hover{
    transition: 0.5s;
    background-color: transparent;
    color: #fff;
}
.title{
    color: #1e1e1e;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: bold;
}

.about-us{
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}
.about-text{
    margin-top: 90px;
}
.about-text p{
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.5em;
    color: #444333;
    margin-bottom: 15px;
}
.about-us ul li{
    font-size: 14px;
    line-height: 1.5em;
    color: #444333;
    list-style-type: none;
}
.about-text .icon{
    color: #16D887;
    margin-right: 20px;
}
.about-us .img img{
    width: 350px;
    height: auto;
}
.plan h2{
    text-align: center;
}
.plans{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 20px;
}
.plan-1{
    text-align: center;
}
.plan{
    margin-top: 50px;
    height: 400px;
}
.plan-1 h2{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 8px;
    color: #1e1e1e;
}
.plan-1 p{
    color: #737272;
}